
body {
  background-image: url(lightpaperfibers.png);
  background-repeat: repeat;
}

hr {
  width: 500px;
}

#header {
  width: 370px;
  height: 40px;
  margin: auto;
  background-position: 0px 0px;
  background-image: url('images/header-bkgd3.png');
  background-repeat: no-repeat;
  display: block;
}

#top_navigation {
  width: 300px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  text-align: center;
}

#top_navigation ol {
  padding: 0px;
  margin: 0px;
}

#top_navigation a {
  text-decoration: none;
  color: black;
}

#top_navigation li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#homepage_content {
  width: 500px;
  margin: auto;
  margin-top: 33px;
  text-align: center;
  color: #333333;
  font-size: 2em;
}
